<?insert text?>
<button accesskey='&#13;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#27;' style='visibility:hidden' action='return -1'></button>
<button accesskey='&#129;' style='visibility:hidden' action='call document.up()'></button>
<button accesskey='&#132;' style='visibility:hidden' action='call document.down()'></button>
<button accesskey='&#130;' style='visibility:hidden' action='call cursor.left()'></button>
<button accesskey='&#131;' style='visibility:hidden' action='call cursor.right()'></button>
<button accesskey='&#138;' style='visibility:hidden' action='call focus.previous()'></button>
<button accesskey='&#139;' style='visibility:hidden' action='call focus.next()'></button>
