<body style='margin:0; height:100%;'>
	<div style="width:100%; height:1px; background-color:#17345E;"></div>
	<div align='left' style="color:#17345E; font-size:19px; font-weight:bold; padding-bottom:5px; padding-top:10px; padding-right:10px; padding-left:10px;">
		<span align="left" style="width:100px;">
			<?var title?>:
		</span>
		<button style="font-weight:bold; width: 104px; height:40px; background-image:url('../images/Keyboard/mx_button_cancel.png'); background-repeat:no-repeat; border-width:0px; background-color:white; padding:0px; font-size:14px; color:#fff" align='right' action='return 119' accesskey='&#13;'>Close</button>

		<div style="margin-top:8px;"></div>
		<!--<div align="left" style="font-weight:normal; color:#17345E; font-size:16px; width:99%; height:40px; padding-top:10px; padding-left:5px; border-style:solid; border-color:#17345E; border-width:1px;">
			
		</div>-->
		<input style="width:99%; height:40px;" size='10' maxlength='10' name='input' id='input' type="text" allowed_chars='1234567890' autofocus/>
		<div style="margin-top:7px;"></div>
		
		<div align="center" style="font-size:16px;">	
			<div style="margin-top:10px"></div>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action="call active.sendkey(49)">
				<?var 1?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action="call active.sendkey(50)" >
				<?var 2?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;"  action="call active.sendkey(51)">
				<?var 3?>
			</button>
			<button nofocus="true" style="width:120px; height:1px; border-width:0px; background-color:#fff"></button>
			<div style="margin-top:8px"></div>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(52)'>
				<?var 4?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(53)'>
				<?var 5?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(54)'>
				<?var 6?>
			</button>
			<button style="width:120px; height:1px; border-width:0px; background-color:#fff"></button>
			<div style="margin-top:8px"></div>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(55)'>
				<?var 7?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(56)'>
				<?var 8?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(57)'>
				<?var 9?>
			</button>
			<button nofocus="true" style="width: 124px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric_long.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action="call active.sendkey(8);">
				&#60;
			</button>
			<div style="margin-top:8px"></div>
			<!-- <button style="width:90px; height:1px; border-width:0px; background-color:#fff"></button> -->
			
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(45);'>
				<?var 10?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(48);'>
				<?var 11?>
			</button>
			<button nofocus="true" style="width: 94px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='call active.sendkey(46);'>
				<?var 12?>
			</button>
			
			<button nofocus="true" style="width: 124px; height:54px; border-width:0px; background-image:url('../images/Keyboard/mx_button_numeric_long.png'); background-repeat:no-repeat; font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px; background-color:white; color:#17345E;" action='return 5031'>
				ENTER
			</button>
		</div>	
	</div>
</body>