<table border='0' cellspacing='0' cellpadding='0' style='height:100%;width:100%'>
  <tr><td style='height:100%;vertical-align:top'><?insert text?></td></tr>
  <tr><td style='height:1px'>
      <table border='0' cellspacing='0' cellpadding='0' style='width:100%'>
        <tr><td style='width:20%'>
            <div style='width:100%;background-color:black;color:white;text-align:center'>X</div>
        </td><td style='width:60%'>
            <div style='width:60%;margin-left:auto;margin-right:auto;background-color:black;color:white;text-align:center'>I</div>
        </td><td style='width:20%'>
            <div style='width:100%;background-color:black;color:white;text-align:center'>O</div>
        </td></tr>
      </table>
  </td></tr>
</table>
<button accesskey='&#13;' style='visibility:hidden' action='return 1'></button>
<button accesskey='&#8;' style='visibility:hidden' action='return -1'></button>
<button accesskey='&#27;' style='visibility:hidden' action='return 0'></button>
<button accesskey='&#139;' action='call document.up()' style='visibility:hidden'></button>
<button accesskey='&#138;' action='call document.down()' style='visibility:hidden'></button>
