body {
    background-image:url('../images/rough_paper.png'); 
}

button {
    background-image:linear-gradient(to bottom, #e8e8e8 0%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%);
    border-radius:15px;
    padding-left: 5px;
    padding-right: 5px;
}

button:active {
    background-image:linear-gradient(to bottom, #757575 16%, #e8e8e8 19%,#c0c0c0 69%,#757575 72%,#919191 83%,#646464 100%);
    color:#f00;
}


button.cancel {
    background-image: linear-gradient(to bottom, #ffd1d1 0%,#ff7f7f 50%,#e90000 51%,#ff0000 75%,#c80000 100%);
}

button.cancel:active {
    background-image: linear-gradient(to bottom, #e90000 16%,#ffd1d1 19%,#ff7f7f 69%,#e90000 72%,#ff0000 83%,#c80000 100%)
    color:#f00;
}


button.ok {
    background-image: linear-gradient(to bottom, #d1ffd1 0%,#7fff7f 50%,#00e900 51%,#00ff00 75%,#00c800 100%); 
}

button.ok:active {
    background-image: linear-gradient(to bottom, #00e900 16%,#d1ffd1 19%,#7fff7f 69%,#00e900 72%,#00ff00 83%,#00c800 100%)
    color:#f00;
}


button.back {
    background-image:linear-gradient(to bottom, #ffffd1 0%,#ffff7f 50%,#e9e900 51%,#ffff00 75%,#c8c800 100%)
}

button.back:active {
    background-image: linear-gradient(to bottom, #e9e900 16%,#ffffd1 19%,#ffff7f 69%,#e9e900 72%,#ffff00 83%,#c8c800 100%)
    color:#f00;
}


/*
:focus{
    background-color:yellow;
}

button:focus{
    background-image: linear-gradient(to bottom, #ffffd1 0%,#ffff7f 50%,#e9e900 51%,#ffff00 75%,#c8c800 100%); 
};
*/