<table border='0' style='height:100%;width:100%'>
  <tr><td style='height:1px;vertical-align:top'>
      <h4><?insert text?></h4>
  </td></tr>
  <tr><td style='height:100%'>
      <select name='uimenu' size='2' style='height:100%;width:100%'>
        <?insert menu?>
      </select>
  </td></tr>
  <tr><td style='height:1px'>
    <table style='width:100%'>
      <tr><td style='width:33%'>
        <button accesskey='&#133;' style='width:100%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='call uimenu.up()'>UP</button>
      </td><td style='width:34%'>
        <button accesskey='&#13;' style='width:100%;background-image:linear-gradient(to bottom, #d1ffd1 0%,#7fff7f 50%,#00e900 51%,#00ff00 75%,#00c800 100%)' action='call uimenu.action()'>OK</button>
      </td><td style='width:33%'>
        <button accesskey='&#137;' style='width:100%;background-image:linear-gradient(to bottom, #e8e8e8 1%,#c0c0c0 50%,#757575 51%,#919191 75%,#646464 100%)' action='call uimenu.down()'>DOWN</button>
      </td></tr>
    </table>
  </td></tr>
</table>