<html>
<table border='0' style='height:100%;width:100%'>
  <tr><td style='height:1px;vertical-align:top'><?insert text?></td></tr>
  <tr><td style='height:100%'>
      <select name='uimenu' size='2' style='height:100%;width:100%'>
        <?insert menu?>
      </select>
  </td></tr>
  <tr><td style='height:1px'>
    <table style='width:100%'>
      <tr><td style='width:33%' align="left">
        <button accesskey='&#133;'
          style="border-radius: 28px;
                           text-shadow: 1px 1px 3px #666666;
                           box-shadow: 0px 1px 3px #666666;
                           font-family: Arial;
                           color: #ffffff;
                           padding: 10px 20px 10px 20px;
                           text-decoration: none;
                           overflow:hidden;
                           display:inline-block;
                           margin: 0 auto;
                           background: #17345E;
                              background-image: linear-gradient(to bottom, #17345E, #2980b9);
                             font-size: 14px;
                             width:220px;
                             height:45px;
                             line-height:22px;
                           font-weight:bold;
                           border:2px solid #d8d8d8;"
         action='call uimenu.up()'>UP</button>
      </td><td style='width:34%' align="center">
        <button accesskey='&#13;'
          style="border-radius: 28px;
                     text-shadow: 1px 1px 3px #666666;
                     box-shadow: 0px 1px 3px #666666;
                     font-family: Arial;
                     color: #ffffff;
                     padding: 10px 20px 10px 20px;
                     text-decoration: none;
                     overflow:hidden;
                     display:inline-block;
                     margin: 0 auto;
                     background: #8ca155;
                     background-image: linear-gradient(to bottom, #8ca155, #7e914c);
                      font-size: 14px;
                      width:220px;
                      height:45px;
                      line-height:22px;
                     font-weight:bold;
                     border:2px solid #d8d8d8;"

         action='call uimenu.action()'>OK</button>
      </td><td style='width:33%' align="right">
        <button accesskey='&#137;'
         style="border-radius: 28px;
                  text-shadow: 1px 1px 3px #666666;
                  box-shadow: 0px 1px 3px #666666;
                  font-family: Arial;
                  color: #ffffff;
                  padding: 10px 20px 10px 20px;
                  text-decoration: none;
                  overflow:hidden;
                  display:inline-block;
                  margin: 0 auto;
                  background: #17345E;
                     background-image: linear-gradient(to bottom, #17345E, #2980b9);
                    font-size: 14px;
                    width:220px;
                    height:45px;
                    line-height:22px;
                  font-weight:bold;
                  border:2px solid #d8d8d8;"
         action='call uimenu.down()'>DOWN</button>
      </td></tr>
    </table>
  </td></tr>
</table>
</html>
