<table border='0' style='height:100%;width:100%'>
  <tr><td style='height:1px;vertical-align:top'><?insert text?></td></tr>
  <tr><td style='height:100%'>
      <select name='uimenu' size='2' style='height:100%;width:100%'>
        <?foreach json_array||(option action='return [index]' [selected])[name](/option)|?>
      </select>
  </td></tr>
</table>

<button accesskey="&#13;" style='visibility:hidden' action='call uimenu.action()'></button>
<button accesskey="&#138;" style='visibility:hidden' action='call uimenu.up()'></button>
<button accesskey="&#139;" style='visibility:hidden' action='call uimenu.down()'></button>
<button accesskey="&#27;" style='visibility:hidden' action='return -1'></button>
